{% extends 'base.html' %}
{% block title %} List orders {% endblock %}

{% block content %}
    <h1>List orders</h1>
    {% if not orders %}
        <p>No orders found.</p>
    {% endif %}

    {% for order in orders %}
        <p><a href="{% url 'order_detail' order.id %}">id: {{ order.id }}; Product: {{ order.product }}; User:{{ order.user.username }}</a> <a href="{% url 'order_delete' order.id %}" onclick="return confirm('Are you sure you want to delete this order?')">Delete</a></p>
    {% endfor %}
{% endblock %}