{% extends 'base.html' %}

{% block title %} List users {% endblock %}

{% block content %}
    <h2>List users</h2>
    {% if not users %}
        <p>No users found.</p>
    {% endif %}
    {% for user in users %}
        <p>
             <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>
            {% if user.has_orders %}
                <span class="message error">This user has orders. Delete the orders before deleting the user.</span>
            {% else %}
                <a href="{% url 'delete_user' user.pk %}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}